<div class="container">
  <div class="row" ng-controller="CtgController as cc">
    <!--menu de la izquierda-->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="left-menu">
        <h3>{{vm.menuTitle}}</h3>
        <ul>
          <li class="lm-item"
              ng-repeat="menu in vm.menus"
              ng-class="{'active': menu.active == true}"
              ng-click="cc.loadCards(menu)">
            <button>{{menu.title}}</button>
          </li>
        </ul>
      </div>
    </div>

    <!--contenido -->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

      <!--ordenar y cantidad de obras-->
      <div class="filtros">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p>Ordenar por</p>
            <div dropdown-select="cc.ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="opt"></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
            <p>{{cc.number_of_cards}}{{cc.label_numCards}}</p>
          </div>
        </div>
        <hr>
      </div>

      <!--real content-->
      <div class="cards-content">
        <div class="row grid">
          <div class="grid-sizer"></div>
          <!--    ng-if="vm.actual_menu == 0"    | cardsToLoadFilter:vm.cards_in_category  -->
          <card class=""
                ng-if="vm.actual_menu == 0"
                ng-repeat="card in vm.cards | cardsToLoadFilter:vm.cards_in_category | orderBy:ddSelectSelected.value track by card.id"
                data-id="{{ card.id }}"
                data-img="{{ card.img }}"
                data-title="{{ card.title }}"
                data-format="{{ card.format }}"
                data-collection="{{ card.collection }}"
                data-crautor="{{ card.crautor }}"
                data-credit="{{ card.credit }}"
                data-de="{{ card.de }}"
                data-cm="{{ card.cm }}"
                data-rm="{{ card.rm }}"
                data-dg="{{ card.dg }}"
                data-pe="{{ card.pe }}"
                data-price="{{ card.price }}"
          ></card>
          <lcard ng-if="vm.actual_menu == 1"
                 ng-repeat="card in vm.cards | cardsToLoadFilter:vm.cards_in_category | orderBy:ddSelectSelected.value track by card.id"
                 data-id="{{ card.id }}"
                 data-title="{{ card.title }}"
                 data-format="{{ card.format }}"
                 data-collection="{{ card.collection }}"
                 data-price="{{ card.price }}"
                 card-info="card">
          </lcard>
        </div>

      </div> <!-- contenido-->
    </div>
  </div>
</div>

