<nav ng-class="{'animate': $parent.vm.slidesUp}" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button ng-if="$parent.vm.slidesUp"
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#menu-navbar-collapse"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="eee i-overflow"></span>
      </button>
      <button class="navbar-brand logo text-center" ng-click="$parent.vm.slideDown()">
        <span><img src="assets/images/logo-white.png" alt="LogoEEE"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="menu-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-menus"
            ng-class="{'searchActive': nvm.isSearchActive}"
            ng-repeat="navmenu in nvm.menus.menu"
            ng-init="subm=nvm.getSubMenu(navmenu.id)">
          <a href=""
             ng-if="navmenu.sub"
             ng-class="{'activeMenu': navmenu.active}"
             dropdown-onchange="nvm.subMenuClick(selected)"
             dropdown-menu="subm"
             dropdown-model="ddMenuSelected"
             dropdown-item-label="title">
            {{navmenu.title}}
          </a>
          <a href=""
             ng-if="!navmenu.sub"
             ng-click="nvm.navMenuClick(navmenu)"
             ng-class="{'activeMenu': navmenu.active}">
            {{navmenu.title}}
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="text-center">
          <a class="nav-btns" href="" ng-click="nvm.cartSummaryClick()">
            <span class="eee i-cart"></span>
            <span class="badge">{{$parent.vm.cartCount}}</span>
          </a>
        </li>
        <li class="text-center">
          <!--cart summary y buscador-->
          <div class="nav-btns">
            <button ng-click="nvm.findClick()" type="button"><i class="eee i-search"></i></button>
            <div id="find">
              <input ng-class="{'animarFind': nvm.isSearchActive}"
                     ng-show="nvm.isSearchActive"
                     ng-model="nvm.findTerm"
                     id="find_input"
                     type="text" placeholder="Search for...">
            </div>
          </div>
          <!---->
        </li>

      </ul>

    </div>

  </div>
</nav>
