<div id="lcard">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <!--lcard-->
    <div class="lcard">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="piece-title">{{lcvm.title}}</div>
            <div class="piece-format">{{lcvm.format}}</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <button class="ghost-btn" type="button" ng-click="lcvm.Request(this)">{{lcvm.btnTitle}}</button>
          </div>
        </div>
      <!--lcard-->
    </div>
  </div>
</div>

